DATABASE_URL=postgresql://neondb_owner:npg_FDcS8Wdsbg5B@ep-raspy-math-agfv5p0n-pooler.c-2.eu-central-1.aws.neon.tech/neondb?sslmode=require

NEXTAUTH_URL=https://breva.vercel.app

NEXTAUTH_SECRET=Xy9K3mN8pQ2vR7tY4wZ6aB1cD5eF0gH9iJ8kL7mN6oP5